fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
redis
langgraph
langgraph-checkpoint-redis
langchain-openai
langchain-chroma
langchain-core
langchain-community
langchain-text-splitters
chromadb
pypdf